html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.long-card__container {
  display: grid;

  grid-template-columns: repeat(6, 188px);

  align-content: space-around;
  justify-content: space-between;

  grid-gap: 45px 0;
  margin-bottom: 88px;
}

.center__container {
  max-width: 1208px;
  margin: 0 auto;
}

.heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #484848;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  color: #484848;
  max-width: 571px;
  margin-top: 8px;
  margin-bottom: 24px;
}
* {
  box-sizing: border-box;
}

.mt-38{
  margin-top: 38px;
}

.results-title {
  text-align: center;
  font-family: Roboto;
  color: white;
  font-size: 72px;
  line-height: 84px;
  font-style: normal;
  font-weight: bold;
}

.main__container {
  padding: 40px;
}

@media only screen and (max-width: 1220px) {
  .center__container {
    max-width: 900px;
    margin: 0 auto;  
  }
  .long-card__container{
    grid-template-columns: repeat(3, 188px);
  }
}

@media only screen and (max-width: 680px) {
  .center__container {
    max-width: 600px;
    margin: 0 auto;  
  }
  .long-card__container{
    grid-template-columns: repeat(2, 188px);
    justify-content: space-around;
    grid-gap: 30px 0;
  }
  .main__container {
    padding: 20px;
  }
  .heading, .subtitle {
    text-align: center;
  }
}

@media only screen and (max-width: 460px) {
  .center__container {
    max-width: 400px;
    margin: 0 auto;  
  }
  .long-card__container{
    grid-template-columns: repeat(1, 188px);
    justify-content: space-around;
  }
  .main__container {
    padding: 20px;
  }
}